{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ property.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<section class="property-details">

    <div class="details-container">

        <!-- LEFT: IMAGES -->
        <div class="image-section">

    <!-- MAIN IMAGE -->
         {% if property.image %}
        <div class="main-image-container">
            <img src="{{ property.image.url }}" class="main-image" id="mainImage">
        </div>
         {% endif %}

         <!-- THUMBNAILS -->
          <div class="gallery">
        {% for img in property.images.all %}
            <img src="{{ img.image.url }}" class="thumb">
        {% endfor %}
         </div>

         <!-- SLIDER BUTTONS -->
         <div class="slider-controls">
            <button type="button" id="prevBtn">❮</button>
            <button type="button" id="nextBtn">❯</button>
         </div>

         </div>

        <!-- RIGHT: DETAILS -->
        <div class="info-section">

            <h1>{{ property.title }}</h1>

            <h2 class="price">₱{{ property.price }}</h2>

            <p class="location">
                📍 {{ property.city }}, {{ property.province }}
            </p>

            <div class="features">
                <span>🛏 {{ property.bedrooms }} Beds</span>
                <span>🛁 {{ property.bathrooms }} Baths</span>
                <span>🚗 {{ property.parking_spaces }} Parking</span>
            </div>

            <div class="area">
                Floor: {{ property.floor_area }} sqm |
                Lot: {{ property.lot_area }} sqm
            </div>

            <p class="description">
                {{ property.description }}
            </p>

            <span class="status-badge">
                {% if property.is_available %}
                    Available
                {% else %}
                    Sold
                {% endif %}
            </span>

            <a href="{% url 'base' %}" class="inline-btn">← Back</a>

        </div>

    </div>

</section>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>